[submodule "plugins/copycat"]
	path = plugins/copycat
	url = git@github.com:tmux-plugins/tmux-copycat.git
[submodule "pain-control"]
	path = pain-control
	url = https://github.com/tmux-plugins/tmux-pain-control.git
[submodule "plugins/battery"]
	path = plugins/battery
	url = https://github.com/tmux-plugins/tmux-battery.git
[submodule "plugins/cpu"]
	path = plugins/cpu
	url = https://github.com/tmux-plugins/tmux-cpu.git
[submodule "plugins/open"]
	path = plugins/open
	url = https://github.com/tmux-plugins/tmux-open.git
[submodule "plugins/yank"]
	path = plugins/yank
	url = https://github.com/tmux-plugins/tmux-yank.git
